body{
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:black;
}
.outerBox{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0.8;
	background: #B3FFAB;
	background: -webkit-linear-gradient(to left, #B3FFAB , #12FFF7);
	background: linear-gradient(to left, #B3FFAB , #12FFF7);       
}
.header{
	position: relative;
	text-align: center;
	top:100px; 
}
.header h1{
	font-weight: 200;
	text-align: center;
}
.input-field input[type=text]{
	border-bottom: 1px solid #000;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
::-webkit-input-placeholder {
   color: black;
   font-weight: 300;
}
:-moz-placeholder { 
   color: black;  
}
::-moz-placeholder {
   color: black;  
}
:-ms-input-placeholder {  
   color: black;  
}
.login{
	font-weight: 300;
}













